/* Style container */

.form-container {
  width: 90%;
  margin: 40px auto;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
}
  
  /* Style head */
.form-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #a01e54;
  font-weight: 900;
}
  
  /* Style labels */
.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
  
  /* Style  inputs */
.form-container input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}
  
  /* Style submit button */
.form-container input[type="submit"] {
  width: 100%;
  background-color: #a01e54;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
  
  /* Style submit button: hovered */
.form-container input[type="submit"]:hover {
  background-color: #860e40;
}
  
  /*tableau*/

table {
  margin: 20px auto;
  width: 90%;
  border-collapse: collapse;
  font-size: 14px;
}

thead {
  background-color: #f5f5f5;
}

th, td {
  padding: 10px;
  border: 1px solid #860e40;
  text-align: left;
  text-align: center;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* style commande */

.form-control {
  border-radius: 0;
}

label {
  font-weight: bold;
}

#order_items {
  height: 150px;
}

#order_total {
  font-weight: bold;
}
