body{
    margin: 0;
    padding: 0;
}

.nav-link{
    color: #FF2600;
    font-size: x-large;
}

.nav-link:hover{
    color: #ff0000;
    font-weight:900;
}



@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1,h2,a,p{
    font-family: 'Lobster', cursive;
}

/*Bannière*/

aside{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #FEC196;
    color: white;
    }
    
aside h2{
    color: #FF2600;
    margin: 15px;
    text-align: center;
    text-shadow: 3px 1px black;
}

/* Footer*/

footer hr{
    border: 3px solid #FF2600;
    }
    
    #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    #footer img{
    width: 34px;
    height: 34px;
    }
    
    #footer p{
    margin-right: 15px;
    }



/* Version mobile */
@media screen and (max-width:798px){


    /* menu */

    .logo{
    width: 43px;
    height: 44px;
    }

    #menu {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: rgb(17, 15, 15);
        padding-top: 60px;
        transition: left 0.5s ease;
    }
    

    /*Bannière*/
    aside{
        display: inline-block;
        text-align: center;
    }

    aside h1{
    font-size: medium;
    font-style: normal;
    text-align: center;
    transform: rotate(15deg);
    margin: 15px;
    text-transform: uppercase;
    }


    .banniere{
    width: 206px;
    height: 139px;
    }

}
    

@media screen and (min-width:799px) and (max-width:1037px){



    .logo{
        width: 130px;
        height: auto;
        }
    
   
    /*Bannière*/
    
    aside h1{
    font-size: x-large;
    font-style: normal;
    text-align: center;
    transform: rotate(15deg);
    margin: 15px;
    text-transform: uppercase;
    }


    .banniere{
    width: 206px;
    height: 139px;
    }

    
}



    
/*DESKTOP*/

@media screen and (min-width:1037px){

   
    
    .logo{
        width: 130px;
        height: auto;
        }
        
        /*Bannière*/

        aside h1{
        font-size: x-large;
        font-style: normal;
        text-align: center;
        transform: rotate(15deg);
        margin: 15px;
        text-transform: uppercase;
        }
        
        
        .banniere{
        width: 206px;
        height: 139px;
        }
    
    
    }